.header {
  position: absolute;
  z-index: 3;
  background: rgba($color: $primary-color, $alpha: 0.7);
  top: 3rem;
  left: 0;
  width: 50%;
  height: 10rem;
  font-size: 4rem;
  padding: 0 0 0 3rem;

  &__text {
    display: inline-block;
    font-weight: 400;
    margin: 0 2rem;
  }
}
