.table {
  margin: 3rem auto 0;

  &__header {
    font-size: 2rem;

    th {
      border-bottom: 2px solid $color-white;
      font-weight: 400;
      padding: 0.5rem;
    }
  }

  &__user {
    transition: all 0.5s ease-out;

    td,
    th {
      padding: 0.5rem;
      font-size: 1.8rem;
      font-weight: 300;
      border-bottom: 1px solid rgba($color-white, 0.7);
    }

    th {
      font-weight: 400;
    }

    &:hover {
      background: rgba($color-primary, 0.9);
    }
  }
}
